.container{
  border: 2px solid black;
  background-color: lightcyan;
  padding-bottom: 2rem;
  padding-left:2rem;
  padding-right: 2rem;
}
.right-container{
padding-right: 3rem;
  
}


.form-control{
  border-left: none;
  border-top: none;
  border-right: none;
  border-color: black;
  background-color: transparent;
}
.heading-info{
  color:brown ;
}
